* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: linear-gradient(to right, rgb(225, 0, 255), #003cff);
}


.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  transform: translateY(50%) translateX(0%);
}

.button > button {
  display: flex;
  justify-self: center;
  font-size: 2rem;
  padding: 2rem 8rem;
  background-color: white;
  border: black solid 1px;
  color: black;
  max-width: 20%;
}

.button > button:hover {
  background-color: rgb(218, 218, 218);
}

h1 {
  text-align: center;
}